@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;1,100&display=swap');

body {
    font-family: 'lato';
}

.container {
    margin: 0px 200px;
}

#first-img {
    background-image: url('/apple-pie/images/apple-pie.jpg');
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}
h1 {
    color: white;
    font-size: 80px;
}

.cook-img {
    margin-right: auto;
    margin-left: auto;
    width: 30px;
}

.image {
    align-self: center;
}